.card {
    padding: 0;
    border: none;
    background: none;
}

.card.d-lg-block {
    width: 50%;
    float: left;
    display: table-cell;
}

.card-block {
    height: 700px;
    position: relative;
    background: none;
}

.card-title {
    padding-top: 100px;
    margin-bottom: 50px;
    color: #D56A74;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.card-block i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 150px;
    color: #21313d;
    z-index: 0;
}
